<ion-view view-title="Chat" class="light-grey">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-show="connected" ui-sref="app.rideMap({eventId: eventId})">
      <i class="icon ion-map"></i>
    </button>
  </ion-nav-buttons>

 	<ion-content has-bouncing="true" class="content">
    <ion-spinner icon="spiral" ng-hide="connected"></ion-spinner>
    <div ng-show="connected">
      <div class="log pad">People in this car:</div>
      <div class="log pad">
        <span ng-if="attendees" ng-repeat="attendee in attendees">{{attendee.name}}{{$last ? "" : ", "}}</span>
        <span ng-if="!attendees">This ride has no passengers yet</span>
      </div>
      <div class="log pad">{{strParticipants}}</div>
      <ion-list>
        <ion-item ng-class="{message: message.style, log: !message.style}" ng-repeat="message in messages">
          <span ng-class="{message: message.style, log: !message.style}" ng-show="message.style" ng-style="{color:message.color}" >{{message.username}} : </span>
          <span ng-class="{message: message.style, log: !message.style}" ng-bind-html="message.content"></span>
          <br>
          <small class="log font-mini">{{message.time}}</small>
        </ion-item>
      </ion-list>
    </div>
	</ion-content>

  <div class="list light-grey bottommsg">
    <div class="item item-input-inset light-grey">
      <label class="item-input-wrapper line-light-grey nopadtop">
        <input class="line-light-grey" ng-change="updateTyping()" type="text" placeholder="Type your message" ng-enter="sendMessage()" ng-model="message" ng-disabled="!connected">
      </label>
      <div class="divsend">
          <button class="button button-positive ion-android-send iconsend" ng-click="sendMessage()" ng-disabled="!connected"></button>
      </div>
    </div>
  </div>
 </ion-view>
