<ion-view view-title="Chat" class="chat">


  <div class="bar bar-subheader" ng-show="connected">
    <strong>Driver:</strong> Victor <strong>Passengers:</strong>  <span ng-if="attendees" ng-repeat="attendee in attendees">{{attendee.name}}{{$last ? "" : ", "}}</span>
    <span ng-if="!attendees">This ride has no passengers yet</span>
  </div>
  
 	<ion-content has-bouncing="true" class="content-stable has-subheader">
      <ion-spinner icon="spiral" ng-hide="connected"></ion-spinner>
    <div ng-show="connected">
      <ion-list>
        <ion-item ng-class="{message: message.style, log: !message.style}" ng-repeat="message in messages">
          <span ng-class="{message: message.style, log: !message.style}" ng-show="message.style" ng-style="{color:message.color}" >{{message.username}} : </span>
          <span ng-class="{message: message.style, log: !message.style}" ng-bind-html="message.content"></span>
          <br>
          <small class="log font-mini">{{message.time}}</small>
        </ion-item>
      </ion-list>
    </div>
	</ion-content>


  
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <input class="line-light-grey" ng-change="updateTyping()" type="text" placeholder="Type your message" ng-enter="sendMessage()" ng-model="message" ng-disabled="!connected">
    </label>
    <button class="button button-positive ion-android-send iconsend" ng-click="sendMessage()" ng-disabled="!connected"> </button>
  </ion-footer-bar>
  
 </ion-view>
