<ion-view view-title="Event: {{event.name}}">
  <ion-content>
    <div class="list card">
      <div class="item item-text-wrap">
        <h3>Organizer: {{event.organizer}}</h3>
        <h4>Date: {{event.datetime | date }}</h4>
      </div>
      <div class="item item-divider">
        Attendees
      </div>
      <div class="list">
        <a href="" class="item item-avatar" ng-repeat="attendee in event.attendees">
          <img src="{{attendee.photo}}" alt="">
          <h2>{{attendee.user}}</h2>
        </a>
      </div>
      <div class="item item-divider">
        Place
      </div>
      <div class="item item-text-wrap">
        {{event.place}}
      </div>
      <div class="item item-divider">
        Address
      </div>
      <div class="item item-text-wrap">
        {{event.address}}
      </div>
      <div id="map" data-tap-disabled="true" style="height: 300px"></div>
    </div>
    <div class="tabs">
      <a class="tab-item" ng-click="getRoute()">
        Get Route
      </a>
      <a class="tab-item" ng-click="navigate()">
        Get Directions
      </a>
    </div>
  </ion-content>
</ion-view>
