<ion-view view-title="Car pooling" >
  <ion-content>
    
    <div class="list card">
      <div class="item title">
        My events
      </div>
      
      <a class="item item-body" ng-repeat="event in events" ui-sref="app.event({id:event._id})">
        <div class="row">
          <div class="col">
            <p class="day">{{event.datetime | date:'dd' }}
            </p>
            <p class="month">{{event.datetime | date:'MMMM' }}</p>
          </div>
          <div class="col col-80">
            <h2>{{event.name}}</h2>
            <p class="color">{{event.place}}</p>
            <p>by {{event.organizer}}</p>
          </div>
        </div>
      </a>

  </div>
  </ion-content>
</ion-view>
